{% extends "layout.html" %}
{% block title %}Uusi ryhmä{% endblock %}
{% block content %}

{% if item %}

<h1>Ryhmä {{ item[0] }}</h1>

<form action="/groups/edit/{{item[0]}}" method="POST" onsubmit="return check(this)">
    <p>Nimi:<br>
    <input type="text" name="name" value="{{item[1]}}"></p>
    <p><input type="checkbox" name="isPublic" {% if item[3] == '1' %}checked="true"{%endif%}>Public</p>

    <input type="submit" value="Muokkaa">
</form>

{% else %}

<h1>Uusi ryhmä</h1>

<form action="/groups/new" method="POST" onsubmit="return check(this)">
    <p>Nimi:<br>
    <input type="text" name="name"></p>
    <p><input type="checkbox" name="isPublic"> Public</p>

    <input type="submit" value="Luo ryhmä">
</form>

{% endif %}

<script>
function check(form) {
    if (form.name.value.length == 0 || 
        form.name.value.length > 128) {
        alert("Nimi puuttuu tai on liian pitkä");
        return false;
    }
    return true;
}
</script>


{% endblock %}

