{% extends "layout.html" %}
{% block title %}Uusi tavara{% endblock %}
{% block content %}

<h1>Uusi tarjous</h1>

<form action="/orders/new" method="POST" onsubmit="return check(this)">
    <p>Nimi:<br>
    <input type="text" name="name"></p>
    <p>Tyyppi:<br>
      <select name="itemType" class="formSelect">
{% for item in items %}
        <option value="{{item[0]}}">{{item[1]}}</option>
{% endfor %}
      </select>
    </p>
    <p>Info:<br>
    <input type="text" name="info"></p>
    <p><input type="checkbox" name="isPublic"> Public</p>

    <input type="submit" value="Luo tarjous">
</form>

<script>
function check(form) {
    if (form.name.value.length == 0 || 
        form.name.value.length > 128) {
        alert("Nimi puuttuu tai on liian pitkä");
        return false;
    }
    if (!form.itemType.value) {
        alert("Tyyppi puuttuu");
        return false;
    }
    if (form.info.value.length > 500) {
        alert("Info on liian pitkä");
        return false;
    }
    return true;
}
</script>


{% endblock %}

