{% extends "layout.html" %}
{% block title %}Uusi tavara{% endblock %}
{% block content %}

{% if item %}

<h1>Tarjous №{{ item[0] }}</h1>

<form action="/orders/edit/{{item[0]}}" method="POST" onsubmit="return check(this)">
    <p>Nimi:<br>
    <input type="text" name="name" value="{{item[1]}}"></p>
    <p>Tyyppi:<br>
      <select name="itemType" class="formSelect">
{% for opt in options %}
        <option value="{{opt[0]}}" {% if item[2] == opt[0]%}selected="true"{%endif%}>{{opt[1]}}</option>
{% endfor %}
      </select>
    </p>
    <p>Info:<br>
    <input type="text" name="info" value="{{item[4]}}"></p>
    <p><input type="checkbox" name="isPublic" {% if item[3] == '1' %}checked="true"{%endif%}>Public</p>

    <input type="submit" value="Muokkaa">
</form>

{% else %}

<h1>Uusi tarjous</h1>

{%if groupId %}<form action="/orders/new/{{groupId}}" method="POST" onsubmit="return check(this)">
{%else%}<form action="/orders/new" method="POST" onsubmit="return check(this)">
{%endif%}
    <p>Nimi:<br>
    <input type="text" name="name"></p>
    <p>Tyyppi:<br>
      <select name="itemType" class="formSelect">
{% for item in items %}
        <option value="{{item[0]}}">{{item[1]}}</option>
{% endfor %}
      </select>
    </p>
    <p>Info:<br>
    <input type="text" name="info"></p>
    <p><input type="checkbox" name="isPublic"> Public</p>

    <input type="submit" value="Luo tarjous">
</form>

{% endif %}

<script>
function check(form) {
    if (form.name.value.length == 0 || 
        form.name.value.length > 128) {
        alert("Nimi puuttuu tai on liian pitkä");
        return false;
    }
    if (!form.itemType.value) {
        alert("Tyyppi puuttuu");
        return false;
    }
    if (form.info.value.length > 500) {
        alert("Info on liian pitkä");
        return false;
    }
    return true;
}
</script>


{% endblock %}

