{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<h1>Sign in</h1>

<form action="/signin" method="POST" onsubmit="return check(this)">
    <p>Nimi:<br>
    <input type="text" name="name"></p>
    <p>Sukunimi:<br>
    <input type="text" name="secondname"></p>
    <p>E-mail:<br>
    <input type="text" name="email"></p>
    <p>Puhelin:<br>
    <input type="tel" name="phone" placeholder="0453456789"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
{% if session.username %}
    <p><input type="checkbox" name="isModerator">Haluatko etuoikeudet? </p>
{% endif %}
    <input type="submit" value="Luo tunnus">
</form>

<script>
function check(form) {
    if (form.name.value.length == 0 || 
	form.name.value.length > 128) {
        alert("Nimi puuttuu tai on liian pitkä");
        return false;
    }
    if (form.secondname.value.length == 0 || 
        form.secondname.value.length > 128) {
        alert("Sukunimi puuttuu tai on liian pitkä");
        return false;
    }
    if (form.email.value.length == 0 || 
        form.email.value.length > 128) {
        alert("E-mail puuttuu tai on liian pitkä");
        return false;
    }
    if (form.phone.value.length == 0 || 
        form.phone.value.length != 10) {
        alert("Puhelin pituus on " + form.phone.value.length + ", täyty olla 10");
        return false;
    }
    if (form.password.value.length < 2) {
        alert("Salasana on liian lyhyt");
        return false;
    }
    return true;
}
</script>
{% endblock %}
