{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<h1>Sign in</h1>

<form action="/signin" method="POST">
    <p>Nimi:<br>
    <input type="text" name="name"></p>
    <p>Sukunimi:<br>
    <input type="text" name="secondname"></p>
    <p>E-mail:<br>
    <input type="text" name="email"></p>
    <p>Puhelin:<br>
    <input type="tel" name="phone" placeholder="0453456789"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
{% if session.username %}
    <p><input type="checkbox" name="isModerator">Haluatko etuoikeudet? </p>
{% endif %}
    <input type="submit" value="Luo tunnus">
</form>

{% endblock %}
